/*
CSS for Lisa Site

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: 1px solid #FFFF66; }

#outerImageContainer{ position: relative; background-color: #FFFF66; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 8px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */
/*display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(images/prevlabel.gif) left 30% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(images/nextlabel.gif) right 30% no-repeat; }
#imageDataContainer{ font: 12px Verdana, Helvetica, sans-serif; background-color: none; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding: 5px; color: white; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-image: url(images/IMG_0473 copy.gif);}*/

 *{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
    }

    .bioContent {
        box-sizing: border-box; 
    }

body {
    background-image: url(images/IMG_0473.jpg);
    border-width: 100%;
}


hr.style2 {
    border-bottom: 4px double #f8f3f3;
    margin-left: auto;
    width: 75%;
    margin-right: auto;
}


h1 {
    font-family: "matura-mt-script-capitals-cufonfonts";
    color: #FFFF66;   /*light yellow*/
    font-style: italic;
    text-align: left;
    padding-top: 20px;
}


h2,h3, h4, h5 
{
    color: white;
    font-size: normal;
    text-align: center;
}


a {
    text-decoration: none;   
}

a:link {
    color: red; 
}

a:visited {
    color: #FF6600;
}

a:hover {
    color: white;
    background-color: rgb(230, 230, 68);
    font-size: 90%;
}

a:active {
    color: white;
    font-size: large;
}


@font-face {
    font-family: "matura-mt-script-capitals-cufonfonts";
    src: url(MATURASC_1.TTF);
}

#reviewContent {
    background-image: url(images/Reviewbackground3.png);
    margin-top: 0px;
    margin-bottom: 10px;
    color: #FF6600;
    background-repeat: no-repeat;
}

.variety {
    color: #FFFF66;
    margin-top: 60px;  
}

.Ole {
    margin-top: 160px;
}

